<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>

        <env name="CACHE_ENABLED" value="true"/>
        <env name="CACHE_DRIVER" value="redis"/>
        <env name="CACHE_PREFIX" value=""/>
        <env name="CACHE_VERSION" value="1"/>
        <env name="CACHE_TTL" value="3600"/>

        <env name="DATABASE_CACHE_ENABLED" value="true"/>
        <env name="DATABASE_CACHE_DRIVER" value="redis"/>
        <env name="DATABASE_CACHE_TTL" value="3600"/>
        <env name="DATABASE_CACHE_TAG" value="database"/>
        <env name="DATABASE_CACHE_PREFIX" value="database|"/>
    </php>
</phpunit>
